@import 'SharedStyles.css';


.toggle-button {
  background-color: #f04770;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: #f78c6a;
}

.chart-container {
  flex: 1;
  margin: 0 10px;
  max-width: 48%; /* Adjust this to control the width of each chart */
  min-width: 300px; /* Ensure a minimum width for better visibility */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.unified-box {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 100%;
}
